/* styles/globals.css */
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'playfair display', montserrat;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

p,h,a{
  font-family: 'montserrat' !important;
}

.hero-background {
  background-image: url('/images/bg2.png');
  background-size: cover;
  background-position: center;
}

.services-background {
  background-image: url('/images/bg2.png');
  background-size: cover;
  background-position: center;
}

.design-background {
  background-image: url('/images/services_bg.png');
  background-size: cover;
  background-position: center;
}

.aboutus-background {
  background-image: url('/images/bg2.png');
  background-size: cover;
  background-position: center;
}
.contactus-background {
  background-image: url('/images/bg2.png');
  background-size: cover;
  background-position: center;
}

