/* styles/globals.css */
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-background {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
}


  